* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23cddcff' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

.pokedexMain {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerTitle {
    font-family: var(--title-font);
    font-size: 5em;
    color: var(--main-color);
    padding-top: 1em;
    letter-spacing: .3rem;
    text-shadow: 8px 8px var(--light-color);
}

.headerTagline {
    font-family: var(--title-font);
    font-style: italic;
    font-size: xx-large;
    color: var(--light-color);
    padding-top: .5em;
    letter-spacing: .3rem;

    text-shadow: 3px 3px var(--dark-color);
}

.headerSection {
    display: flex;
    justify-content: center;
}

.headerText__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.headerImage__right {
    width: 190px;
}

.pokeList__article {
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 50px 50px 15px 50px rgba(0, 0, 0, 0);
    width: 40%;
    height: fit-content;
    margin: 2em;
    border-radius: 15px;
    background-color: #ffffff;
}

.pokeList__title {
    font-family: var(--title-font);
    font-size: 3em;
    text-align: center;
    padding: .5em;
    color: var(--main-color);
    text-transform: capitalize;
    letter-spacing: .3rem;
    text-shadow: 4px 4px var(--light-color);
}

.searchForm {
    text-align: center;
}

.searchForm__label {
    font-family: var(--body-font);
    font-size: x-large;
    padding: .5em;
    text-transform: uppercase;
}

.searchForm__input {
    font-family: var(--body-font);
    font-size: x-large;
    padding: .5em;
    border-radius: 20px;
}

.searchForm__button {
    font-family: var(--title-font);
    font-size: x-large;
    padding: .5em;
    border-radius: 20px;
    background-color: var(--light-color);
    color: var(--main-color);
    border-color: var(--dark-color);
    letter-spacing: .3rem;
    transition: text-shadow 300ms ease;
}

.searchForm__button:hover {
    text-shadow: 6px 7px var(--dark-color);
    transition: text-shadow 300ms ease;
    cursor: pointer;
}


.pokemonDetail {
    box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    width: 40%;
    height: fit-content;
    background-color: white;
    margin-top: 2em;
    border-radius: 15px;

}

.pokemonName {
    font-family: var(--title-font);
    font-size: 3em;
    text-align: center;
    padding: .5em;
    color: var(--main-color);
    letter-spacing: .4rem;

    text-shadow: 6px 6px var(--light-color);
}



.pokeListItem__subHeading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    color: var(--light-color);
    font-family: var(--body-font);
    font-size: x-large;
    text-transform: uppercase;
    padding: .5em;
}

.pokeList,
.pokeListItem {
    list-style: none;
    font-family: var(--body-font);
    text-transform: uppercase;
    padding: .5em;
    font-size: x-large;
    color: var(--main-color);

    text-decoration: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: text-shadow 300ms ease;

}

.pokeListItem:hover {
    text-shadow: 3px 1px 2px var(--light-color);
}

.pokeListDetail {
    list-style: none;
    font-family: var(--body-font);
    text-transform: uppercase;
    padding: .5em;
    font-size: x-large;
    color: var(--main-color);

    text-decoration: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.pokeListCharacteristics {
    font-family: var(--body-font);
    text-transform: uppercase;
    padding: .5em;
    font-size: xx-large;
    color: var(--light-color);


    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.madeText {
    font-size: x-large;
    font-family: var(--body-font);
    margin-top: 2em;

}

.pokeListDetailContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.prevPage,
.nextPage {
    color: var(--light-color);
    font-size: x-large;
    font-family: var(--body-font);
    text-transform: uppercase;

}

.pageLinksContainer {
    display: flex;
    justify-content: space-evenly;
}

.pokeList__img {
    margin: auto;
    display: flex;

}

.errrorSite {
    color: var(--light-color);
    font-size: xx-large;
    font-family: var(--body-font);
    text-transform: uppercase;
    display: block;
    margin: auto;
    padding-top: 4em;
}

.errorSite__link {
    color: var(--main-color);
    font-size: xx-large;
    font-family: var(--body-font);
    text-transform: uppercase;
    transition: text-shadow 300ms ease;
}

.errorSite__link:hover {
    text-shadow: 3px 1px 2px var(--light-color);
}

.pokeFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

/* SPINNER HERUNDER */

.spinningIcon {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: black;
    border: 5px solid black;
    background-image: linear-gradient(red 0% 45%, black 45% 55%, white 55% 100%);
    position: absolute;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.5);
    animation: spinner 1200ms linear infinite;

}

.spinningIcon::before {
    content: "";
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 4px solid black;
    background-color: white;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    box-sizing: border-box;

}

.spinningIcon::after {
    content: "";
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: rgb(230, 230, 230);
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    box-sizing: border-box;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    70% {
        transform: rotate(270deg)
    }

    100% {
        transform: rotate(359deg);
    }
}